.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #00ff62;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #001aff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
